*{
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #000;
    color: #fff;
}
.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}
.heading_text{
    font-size: 3rem;
    margin-bottom: 3rem;
}
.btn_container{
    display: flex;
    gap: 2rem;
}
.btn_emoji{
    background-color: #000;
    font-size: 3.8rem;
    padding: 1.8rem;
    border-radius: 50%;
    border: 5px solid #fff;
    cursor: pointer;
}
.btn_emoji:hover{
    background-color: #ffffff25;
}

.display_result{
    font-size: 3rem;
    margin: 1rem 0rem;
}
.show_moves{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.emoji{
    font-size: 5rem;
}
.show_moves_first{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.show_moves_second{
    display: flex;
    align-items: center;
}
.final_result{
    display: flex;
    gap: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 2rem 0rem;
}
.reset_btn{
    padding: 0.5rem 1.2rem;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    border: 2px solid #fff;
    font-weight: 500;
}
.reset_btn:hover{
    background-color: #fff;
    color: #000;
}
.show_comp_move_second{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup_container{
    position: absolute;
    inset: 0;
    backdrop-filter: blur(7px);
}
.popup{
    position: absolute;
    background-color: #fff;
    color: #000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 2.5rem 0rem;
    width: 600px;
    border-radius: 10px;
}
.popup h1{
    font-size: 2.8rem;
    margin: 1rem 0rem;
}
.popup img{
    width: 220px;
}
.popup button{
    padding: 0.7rem 2rem;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    border: 2px solid #000;
    font-weight: 700;
    font-size: 1.01rem;
    margin-top: 1rem;
}
.none{
    display: none;
}
.block{
    display: block;
}
@media (0px < width <=400px) {
    .heading_text{
        font-size: 2rem;
        margin-bottom: 3rem;
        padding: 0 0.5rem;
        margin-top: 1rem;
    }
    .btn_emoji{
        background-color: #000;
        font-size: 2.5rem;
        padding: 1.1rem;
        border-radius: 50%;
        border: 5px solid #fff;
        cursor: pointer;
    }
    .btn_container{
        display: flex;
        gap: 1.5rem;
        margin-bottom: 2rem;
    }
    .popup{
        width: 95%;
    }
    .popup img{
        width: 180px;
    }
    .popup h1{
        font-size: 2.1rem;
        margin: 1rem 0rem;
    }
}
@media (400px < width <= 760px) {
    .heading_text{
        font-size: 2.4rem;
        margin-bottom: 3rem;
        padding: 0 0.5rem;
        margin-top: 1rem;
    }
    .btn_emoji{
        background-color: #000;
        font-size: 2.6rem;
        padding: 1.6rem;
        border-radius: 50%;
        border: 5px solid #fff;
        cursor: pointer;
    }
    .btn_container{
        display: flex;
        gap: 1.5rem;
        margin-bottom: 2rem;
    }
    .popup{
        width: 90%;
    }
    .popup img{
        width: 180px;
    }
    .popup h1{
        font-size: 2.1rem;
        margin: 1rem 0rem;
    }
}
@media (760px < width <= 1024px) {
    .heading_text{
        font-size: 3.2rem;
        margin-bottom: 3rem;
        padding: 0 0.5rem;
        margin-top: 1rem;
    }
    .btn_emoji{
        background-color: #000;
        font-size: 3rem;
        padding: 2rem;
        border-radius: 50%;
        border: 5px solid #fff;
        cursor: pointer;
    }
    .btn_container{
        display: flex;
        gap: 1.5rem;
        margin-bottom: 2rem;
    }
}
@media (1500px < width < 4000px) {
    .container{
        padding-top: 4rem;
    }
    .heading_text{
        font-size: 4.7rem;
        margin-bottom: 3.5rem;
    }
    .btn_emoji{
        font-size: 4.8rem;
        padding: 2rem;
        border-radius: 50%;
        border: 5px solid #fff;
        cursor: pointer;
    }
    .btn_container{
        gap: 3.5rem;
        margin-bottom: 2rem;
    }
    .display_result{
        font-size: 4rem;
        margin: 1.7rem 0rem;
    }
    .show_my_move{
        font-size: 5rem;
    }
    .show_comp_move{
        font-size: 5rem;
    }
    .p_flex{
        margin: 0.5rem 0rem;
        font-size: 1.2rem;
    }
    .final_result{
        gap: 3rem;
        font-size: 2.2rem;
        font-weight: 700;
        margin: 3rem 0rem;
    }
    .reset_btn{
        padding: 1rem 2rem;
        border-radius: 7px;
        border: 2px solid #fff;
        font-weight: 700;
        font-size: 1.2rem;
    }
}
